<section class="full-section full-section--dark">
	<div class="bio center-push">
	<div class="bio-photo">
		  <div class="round-img"> <img src="assets/img/profile_1.jpg" alt="Houston Blyden"> </div>
		  <span class="caption">This is what my face looks like</span> </div>
		<div class="bio-text">
		  <h4>Quick Bio</h4>
		  <p>One of my favourite things to do as a kid was to draw, and I was always pretty good at it. At about 16 years old I met Adobe Photoshop and Illustrator and was mesmerised, so I spent a lot of time learning to use them. Eventually I realised that I was most interested in designing <em>and</em> making.</p>
		  <p>In time I had a good handle on quite a few graphic design tools and eventually went on to study Interactive Media at Nottingham Trent University where was exposed to a bunch of different design practices [digital design, animation, film, video]. I took a liking to web design and animation in particular and began learning code. Not long after graduating I began working as a front end web developer and in short, that's how I've ended up working in the 'web/digital realm' since 2013.</p>
		  <!--        <p>Right now I'm most interested in User Interface design and things like using CSS and Web animation to enhance UX. Oh and of course SVG. I'm also in the process of expanding my front-end dev skills, learning/mastering Javascript frameworks such as React and Angular.</p>--> 
	  </div>	
      <skills-diagram></skills-diagram>
	<hr>
	<h4>Other Stuff</h4>
	<ul class="bio-other">
		  <li><strong>Location:</strong> Birmingham, UK</li>
		  <li><strong>A few things I like:</strong> eating, making things (most things), <a href="#" title="See some things I'm learning right now">learning new stuff</a>, collaborating with awesome people, assembling flat pack furniture, functional design (obviously).</li>
	  </ul>
	  <hr>
	  <h4>Also Find me on:</h4>
	<div class="social"> <a href="http://twitter.com/houbly" target="_blank">
		<svg viewBox="0 0 60.5 60.5" width="3em">
			<use xlink:href="#icon-twitter"></use>
		</svg>
		</a> <a href="http://codepen.io/houbly" target="_blank">
		<svg viewBox="0 0 60.5 60.5" width="3em">
			<use xlink:href="#icon-codepen"></use>
		</svg>
		</a>
		<a href="https://github.com/houbly" target="_blank">
		<svg viewBox="0 0 60.5 60.5" width="3em">
			<use xlink:href="#icon-github"></use>
		</svg>
		</a>
		</div>
		
<!--
	  <hr>
	<email-me></email-me>
-->
</div>
</section>